absl-py==0.13.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
blis==0.7.5
Brotli==1.0.9
cachetools==4.2.2
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.3
cycler==0.10.0
cymem==2.0.6
Cython==0.29.23
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==2.0
future==0.18.2
google-auth==1.32.1
google-auth-oauthlib==0.4.4
gprof2dot==2021.2.21
grpcio==1.38.1
idna==2.10
imageio==2.13.3
imutils==0.5.4
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
langcodes==3.2.1
loguru==0.5.3
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==2.2.5
matplotlib-inline==0.1.2
mistune==0.8.4
murmurhash==1.0.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
ninja==1.10.2.3
notebook==6.4.0
npTDMS==1.3.1
numpy==1.21.0
oauthlib==3.1.1
onnx==1.8.1
onnx-simplifier==0.3.5
onnxoptimizer==0.2.6
onnxruntime==1.8.0
opencv-contrib-python==4.5.3.56
opencv-python==4.5.2.54
openpyxl==3.0.9
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.2
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkg_resources==0.0.0
plotly==5.4.0
preshed==3.0.6
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.0
pycparser==2.20
pydantic==1.8.2
Pygments==2.9.0
pyparsing==2.4.7
pyproj==3.2.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.2.0
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.19.1
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.7.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
terminado==0.10.1
testpath==0.5.0
thinc==8.0.13
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
tifffile==2021.11.2
torch==1.7.0
torchsummary==1.5.1
torchtext==0.11.0
torchvision==0.8.1
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
typer==0.4.0
typing-extensions==3.10.0.0
urllib3==1.26.6
utm==0.7.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
-e git+https://github.com/Megvii-BaseDetection/YOLOX.git@38c633bf176462ee42b110c70e4ffe17b5753208#egg=yolox
